/.DS_Store
/.clang-format
/.vscode
/build

# dependencies
/public/node_modules
/public/.pnp
/public/.pnp.js

# testing
/public/coverage

# production
/public/build

# misc
/public/.DS_Store
/public/.env.local
/public/.env.development.local
/public/.env.test.local
/public/.env.production.local

/public/npm-debug.log*
/public/yarn-debug.log*
/public/yarn-error.log*
